// Params
flowName = 'trimflow'
params = {
  outdir = "./${flowName}_results"
}

// Manifest
manifest {
  author = 'Maxime HEBRARD'
  homePage = 'http://github.com/mhebrard/TrimFlow'
  description = 'Trimming Pipeline'
}

////
// TEST SINGULARITY BY DEFAULT
// Variable to specify the docker / singularity image tag to use
// Picks up on use of -r 1.3 in nextflow command
container = { "mhebrard/TrimFlow:${workflow.revision ? workflow.revision : 'latest'}" }
//
container = 'mhebrard/TrimFlow'
singularity.enabled = true
////

// Traces
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/${flowName}_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/${flowName}_trace.txt"
}
timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/${flowName}_timeline.html"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/${flowName}_dag.html"
}
