// Params
flowpath = 'trimflow'
params.outdir = "./${flowpath}_results"

// Manifest
manifest {
  author = 'Maxime HEBRARD'
  homePage = 'http://github.com/mhebrard/TrimFlow'
  description = 'Trimming Pipeline'
}

// Container
process.container = 'shub://mhebrard/TrimFlow:v1.0'
singularity.enabled = true
singularity.pullTimeout = '15 min'

// Traces
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/${flowpath}_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/${flowpath}_trace.txt"
}
timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/${flowpath}_timeline.html"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/${flowpath}_dag.html"
}
